[package]
name = "example"
version = "0.1.0"
edition = "2021"

[lib]
name = "_core"
crate-type = ["cdylib"]

[dependencies]
ndarray = "0.17.1"
numpy = "0.27.1"
pyo3 = { version = "0.27", features = ["extension-module"] }
pyo3-arraylike = { path = ".." }
